<!DOCTYPE html>
<html ng-app="App" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width", initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="style.css">

<title>To Do List angular</title>
</head>
<body>
    <div id="container" ng-controller="FormController as form">
        <h2>TO-DO List</h2>
        <p>A place to store the things  you have to do!</p>
        <input id="searchbox" type="text" name="searchtodos" placeholder="Filter your to-dos" ng-model="todoFilter">
        <ol>
            <li ng-repeat="task in form.todoList | filter : todoFilter">{{task}}<span ng-click="form.removeTodo(index)">X</span></li>
        </ol>
        <input id="addbox" type="text" name="newtodos" placeholder="Add your todos" ng-model="todoAdd" >
        <p><button id="buttonstyle" ng-click="addTodo()">Add</button></p>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
<script src="app.js"></script>
<script src="controller.js"></script>


</body>
